// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    position: relative;
    background-color:  rgb(250, 250, 250);
    height: 100vh;
}
#app {
    height: 100%;
    width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}

.container {
    height: 100%;
    width: 100%;
    padding:1rem 2rem ;
}
.centerized {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: rgb(36, 36, 36);
    padding:2rem;
    border-radius: 10px;
    min-width : 300px ;
    color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;

    .head {
        margin-bottom: 3rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
    .body form {
        width: 100%;
        & > *:not(:last-child) {
            margin-bottom: 1rem;
        }
        .group {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            justify-content: space-between;
            &>.row>*:first-child {
                margin-right: 1rem;
            }
            input {
                border: none;
                outline: none;
                margin-left : auto ;

            }
            .label {
                font-size: 1rem;
            }
            .control {
                padding: 0.5rem 1rem;
                min-width: 220px;
                font-size: 1rem;
                background-color: rgb(232,240,254);
                border-radius: 5px;

            }
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                width: 100%;

            }
            .col {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;

            }
            .invalid-feedback {
                font-size: small;
                padding: 1rem;
                color: rgb(255, 92, 92);
                margin-left: auto;
            }
            .btn {
                padding: 0.5rem 1rem;
                background-color: rgb(232,240,254);
                border: none;
                border-radius: 5px;
                margin: 0 auto;
                cursor: pointer;
                box-shadow: 0px 0px 1px 1px rgb(232,240,254);
                font-size: 1rem;
                font-weight: 500;
            }
            a {
                margin-top: 1rem;
                color: rgba(150, 150, 255, 0.44);
            }
            a:hover {
                color: rgba(150, 150, 255, 0.80);
            }
        }
    }


}



.show-post {
    display: flex;
    justify-content: space-around;
    .sidebar {
        flex: 0.2;
        padding: 1rem;
        .btn {
            padding: 0.5rem 1rem;
            border: none;
            background-color: rgb(48, 48, 223);
            color: white;
            font-weight: 500;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .content {
        flex: 0.8;
        padding: 1rem;
        .one-post {
            .thumb {
                width: 100%;
                max-height: 200px ;
                overflow: hidden;
                img {
                    width: 100%;
                }

            }
            .content {
                h2 {
                    margin-bottom: 0.5rem;
                    font-size: 2rem;
                }
                .info {
                    display: flex;
                    li {
                        opacity: 0.7;
                        font-size: 0.8rem;
                    }
                    li:hover {
                        opacity: 0.95;
                    }
                    li:not(:last-child) {
                        margin-right: 1rem;

                    }

                }
                p {
                    margin: 1rem 0;
                    font-size: 1.2rem;
                }
                .options {
                    margin-top: 1rem;
                    .share {
                        margin-top: 1rem;
                        display: flex;
                        li:not(:last-child) {
                            margin-right: 1rem;
                        }
                        .fa , li:hover {
                            color: rgb(220, 129, 44);
                        }
                    }
                }
            }
        }
    }
}

.contact-us , .new-post-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    .contact-section , .new-post{
        flex: 0.6;
        width: 100%;
        .head {
            margin: 1rem 0;
        }
        .content form{
            .row {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                &>*:first-child {
                    margin-right: 2rem;
                }
            }

            .group {
                width: 100%;
                .control {
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 0;
                    border: none;
                    outline: none;
                    background-color: rgb(230, 230, 230);
                    width: 100%;

                }

                .is-invalid {
                    color: rgb(255, 80, 80);
                }
            }
            textarea {
                width: 100%;
                padding: 0.5rem 1rem;
                    margin: 0.5rem 0;
                    border: none;
                    outline: none;
                    background-color: rgb(230, 230, 230);
            }
            select {
                max-width: 150px;
            }
            .btn {
                border: none;
                background-color: rgb(24, 24, 24);
                color: white;
                font-size: 1rem;
                font-weight: 500;
                padding: 0.5rem 1rem;

            }
        }
    }
    .info-sidebar {
        flex: 0.4;
        margin: 1rem 0;
        padding: 2rem;
        .head {
            margin-bottom: 1rem;
        }
        .content {
            ul {
                li {
                    margin: 0.5rem 0;
                    &>*:first-child{
                        margin-right: 1rem;
                    }
                    &>*:last-child{
                        color: rgb(0, 113, 199);
                    }
                }
            }
        }
    }
}

.header {
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: rgb(24, 24, 24);
    color : rgb(255, 255, 255);
    position: fixed;
    top: 0;
    transition: all  0.3s ease-in-out;

    .brand {
        font-size: large;
    }
}
.hide {
    transform: translateY(-100%);
    transition: all 0.3s 0.3s ease-in-out;
}

.nav {
    .right {
        display: flex;
        align-items: center;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    .nav-bar{
        color : rgb(165, 165, 165);

        display: flex;
        align-items: center;
        .toggler {
            display: none;
            padding: 10px 15px;
                cursor: pointer;
                color : rgb(255, 255, 255);

        }
        .nav-items{
            display: flex;
            align-items: center;
            .nav-item {

                padding: 10px 15px;
                cursor: pointer;
            }
            .nav-item:hover {
                color : rgb(255, 255, 255);
                font-weight: 700;
                transition: all 0 0.2s ease-in;

            }

            .active {
                color : rgb(255, 255, 255);
                font-weight: 700;
            }

        }

    }
    .drop {
        background-color: rgb(24, 24, 24);

        .drop-toggler {
            padding: 15px;

            font-weight: 500;
            color: white;
            background-color: rgb(24, 24, 24);
            box-shadow: 0 0 2px 0px  rgb(24, 24, 24);;
            i {
                margin-right: 0.2rem;
            }
        }
        .drop-menu {
            background-color : rgb(36, 36, 36);

            position : absolute ;
            display: flex;
            flex-direction: column;
            top : 100% ;
            opacity: 0;
            right: -12.5rem;
            transition: all 0.1s 0.2s ease-in-out;
            .drop-item {
                color :rgb(255, 255, 255);
                padding: 10px 20px;
                cursor: pointer;
                font-weight: 700;

            }
            .drop-item:hover {
                background-color: rgb(95, 95, 95);
                transition: all 0 0.2s ease-in;

            }
        }
        .drop-active {
            opacity: 1;
            transform: translateX(-15rem);
            transition: transform 0s 0.4s ease-in-out ;
            transition: opacity 0.3s 0.2s ease-in-out ;
        }
    }
}

//footer
footer {
    background-color: rgb(24, 24, 24);
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .nav-items{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            .nav-item {
                color : rgb(255, 255, 255);

                padding: 10px 15px;
                cursor: pointer;
            }
            .nav-item:hover {
                font-weight: 700;
                transition: all 0 0.2s ease-in;

            }



        }
        .copyright-text{
            text-align: center;
            color : rgba(255, 255, 255, 0.72);

        }
    }

}


.page-heading {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 7rem 2rem 4rem 2rem;

}

.main {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    .posts {
        flex: 0.75;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sidebar {
        padding: 0.5rem;
        flex: 0.25;
        .item {
            margin: 1rem 0;
            width: 100%;

        }
        .tag-list {
            padding: 1rem;
            .heading {
                margin: 1rem 0;
                display: flex;
                .fa {
                    margin-right: 1rem ;
                }
            }
        }
        .recent {
            .heading {
                margin: 0.5rem 0;
            }
            .content ul li{

                padding: 0.5rem 0;
                span {
                    font-size: 0.7rem;
                    opacity: 0.8;
                }
                h5 {
                    font-size: 1rem;
                    font-weight: 400;
                    word-break: break-all;

                }
                h5:hover {
                    color: rgb(220, 129, 44);

                }
            }


        }
    }
}
.search {
    display: flex;
    background-color: rgb(211, 211, 211);
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: stretch;
    border-radius: 5px;
    input {
        outline: none;
        border: none;
        color: rgb(24, 24, 24);
        background-color: transparent;
        font-size: 1.2rem;
        padding: 0.5rem;
        flex-basis: 1;
        width: 100%;
        margin-right: 1rem;
    }
    .fa {
        cursor: pointer;
        color: rgb(36, 36, 36);
        opacity: 0.5;
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        outline: none;
    }
    .fa:hover {

        opacity: 1;
    }
}

.post {
    border-radius: 5px;
    margin: 0.5rem;
    flex: 1 1 28%;
    min-width: 250px;
    max-width: 500px;
    overflow: hidden;
    max-height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 2px rgb(189, 189, 189);

    .thumb {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            width: 100%;

        }
    }
    .content {
        padding:1rem 0.5rem;
        display: flex ;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .cat {
            justify-self: start;
            padding: 0.2rem 0.5rem;
            background-color: rgb(28, 77, 130);
            color: white;
            border-radius: 2px;
            box-shadow: 0 0 3px 1px rgb(123, 123, 123);
            margin: 0.5rem ;



        }
        .title {
            font-size: large;
            font-weight: 400;
            padding: 0.5rem 0;
            word-break: break-all;
            flex: 0.3;

        }
        .info {
            padding: 0.3rem 0;
            display: flex;
            width: 100%;
            font-size: 0.8rem;
            opacity: 0.8;
            align-items: center;

            flex: 0.1;


        }



        .info > *:not(:last-child) {
            margin-right: 1rem;
        }
        .info > *:hover {
                opacity: 1;
                text-decoration: underline;
        }
        .body {
            margin: 0.5rem 0;
            flex: 0.5;

        }
    }
}
.tags {
    flex: 0.1;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & > *:not(:last-child) {
        margin-right: 0.2rem;
    }
    .tag {
        color: white;
        background-color: rgb(220, 129, 44);
        border-radius: 5px;
        padding:0.2rem 0.5rem;
        margin: 0.3rem 0.2rem;
    }
    .fa {
        color: rgb(220, 129, 44)  ;
        margin-right: 0.5rem;
    }
}


@media(min-width: 720px ) {
    @media( max-width : 850px) {
        .info-sidebar {

            .content {
                ul {
                    li {
                        display: flex;
                        flex-direction: column;
                        margin: 0.5rem 0;
                        &>*:first-child{
                            margin-right: 1rem;
                        }
                        &>*:last-child{
                            color: rgb(0, 113, 199);
                        }
                    }
                }
            }
        }
    }

}

@media(max-width : 720px) {
    .nav {
        .right {
            flex-direction: row-reverse;
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: medium;
        .nav-bar{
            color : rgb(165, 165, 165);
            display: flex;
            align-items: center;
            .toggler {
                display: block;
            }
            .nav-items{
                position: absolute;
                opacity: 0;
                display: flex;
                flex-direction: column;
                background-color: rgb(36, 36, 36);
                right: -10rem;
                top: 100%;

                transition: all 0.3s 0.2s ease-in-out ;

                .nav-item {
                    width: 100%;
                    padding: 10px 25px;
                    cursor: pointer;
                }
                .nav-item:hover {
                    color : rgb(255, 255, 255);
                    font-weight: 700;
                    transition: all 0 0.2s ease-in;
                    background-color: rgb(123, 123, 123);

                }
                .active {
                    color : rgb(255, 255, 255);
                    font-weight: 700;
                }
            }
            .menu-active {
                opacity: 1;
                transform: translateX(-10rem);
                transition: transform 0s 0.4s ease-in-out ;
                transition: opacity 0.3s 0.2s ease-in-out ;

            }

        }
    }
    .drop {


        .drop-menu {

            right: -10rem !important;
            background-color: rgb(165, 165, 165);
            .drop-item {

                padding: 10px 15px;
                cursor: pointer;
                font-weight: 700;

            }
            .drop-item:hover {
                transition: all 0 0.2s ease-in;
            }
        }
    }


    .main {
        flex-direction: column-reverse;
    }

    .sidebar {

        .recent {
            display: none;
        }
    }

    .contact-us {
        flex-direction: column;
        align-items: flex-start;
        .contact-section {
            flex: 1;
            width: 100%;
            .head {
                margin: 1rem 0;
            }
            .content form{
                .row {
                    flex-direction: column;
                    width: 100%;
                    &>*:first-child {
                        margin-right: 0;
                    }
                }



            }
        }

    }
}

