@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #fafafa;
  height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
}

.centerized {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #242424;
  padding: 2rem;
  border-radius: 10px;
  min-width: 300px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
}

.card .head {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.card .body form {
  width: 100%;
}

.card .body form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.card .body form .group {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.card .body form .group > .row > *:first-child {
  margin-right: 1rem;
}

.card .body form .group input {
  border: none;
  outline: none;
  margin-left: auto;
}

.card .body form .group .label {
  font-size: 1rem;
}

.card .body form .group .control {
  padding: 0.5rem 1rem;
  min-width: 220px;
  font-size: 1rem;
  background-color: #e8f0fe;
  border-radius: 5px;
}

.card .body form .group .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.card .body form .group .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card .body form .group .invalid-feedback {
  font-size: small;
  padding: 1rem;
  color: #ff5c5c;
  margin-left: auto;
}

.card .body form .group .btn {
  padding: 0.5rem 1rem;
  background-color: #e8f0fe;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #e8f0fe;
  font-size: 1rem;
  font-weight: 500;
}

.card .body form .group a {
  margin-top: 1rem;
  color: rgba(150, 150, 255, 0.44);
}

.card .body form .group a:hover {
  color: rgba(150, 150, 255, 0.8);
}

.show-post {
  display: flex;
  justify-content: space-around;
}

.show-post .sidebar {
  flex: 0.2;
  padding: 1rem;
}

.show-post .sidebar .btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #3030df;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.show-post .content {
  flex: 0.8;
  padding: 1rem;
}

.show-post .content .one-post .thumb {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.show-post .content .one-post .thumb img {
  width: 100%;
}

.show-post .content .one-post .content h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.show-post .content .one-post .content .info {
  display: flex;
}

.show-post .content .one-post .content .info li {
  opacity: 0.7;
  font-size: 0.8rem;
}

.show-post .content .one-post .content .info li:hover {
  opacity: 0.95;
}

.show-post .content .one-post .content .info li:not(:last-child) {
  margin-right: 1rem;
}

.show-post .content .one-post .content p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.show-post .content .one-post .content .options {
  margin-top: 1rem;
}

.show-post .content .one-post .content .options .share {
  margin-top: 1rem;
  display: flex;
}

.show-post .content .one-post .content .options .share li:not(:last-child) {
  margin-right: 1rem;
}

.show-post .content .one-post .content .options .share .fa,
.show-post .content .one-post .content .options .share li:hover {
  color: #dc812c;
}

.contact-us,
.new-post-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.contact-us .contact-section,
.contact-us .new-post,
.new-post-main .contact-section,
.new-post-main .new-post {
  flex: 0.6;
  width: 100%;
}

.contact-us .contact-section .head,
.contact-us .new-post .head,
.new-post-main .contact-section .head,
.new-post-main .new-post .head {
  margin: 1rem 0;
}

.contact-us .contact-section .content form .row,
.contact-us .new-post .content form .row,
.new-post-main .contact-section .content form .row,
.new-post-main .new-post .content form .row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.contact-us .contact-section .content form .row > *:first-child,
.contact-us .new-post .content form .row > *:first-child,
.new-post-main .contact-section .content form .row > *:first-child,
.new-post-main .new-post .content form .row > *:first-child {
  margin-right: 2rem;
}

.contact-us .contact-section .content form .group,
.contact-us .new-post .content form .group,
.new-post-main .contact-section .content form .group,
.new-post-main .new-post .content form .group {
  width: 100%;
}

.contact-us .contact-section .content form .group .control,
.contact-us .new-post .content form .group .control,
.new-post-main .contact-section .content form .group .control,
.new-post-main .new-post .content form .group .control {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  background-color: #e6e6e6;
  width: 100%;
}

.contact-us .contact-section .content form .group .is-invalid,
.contact-us .new-post .content form .group .is-invalid,
.new-post-main .contact-section .content form .group .is-invalid,
.new-post-main .new-post .content form .group .is-invalid {
  color: #ff5050;
}

.contact-us .contact-section .content form textarea,
.contact-us .new-post .content form textarea,
.new-post-main .contact-section .content form textarea,
.new-post-main .new-post .content form textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  background-color: #e6e6e6;
}

.contact-us .contact-section .content form select,
.contact-us .new-post .content form select,
.new-post-main .contact-section .content form select,
.new-post-main .new-post .content form select {
  max-width: 150px;
}

.contact-us .contact-section .content form .btn,
.contact-us .new-post .content form .btn,
.new-post-main .contact-section .content form .btn,
.new-post-main .new-post .content form .btn {
  border: none;
  background-color: #181818;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.contact-us .info-sidebar,
.new-post-main .info-sidebar {
  flex: 0.4;
  margin: 1rem 0;
  padding: 2rem;
}

.contact-us .info-sidebar .head,
.new-post-main .info-sidebar .head {
  margin-bottom: 1rem;
}

.contact-us .info-sidebar .content ul li,
.new-post-main .info-sidebar .content ul li {
  margin: 0.5rem 0;
}

.contact-us .info-sidebar .content ul li > *:first-child,
.new-post-main .info-sidebar .content ul li > *:first-child {
  margin-right: 1rem;
}

.contact-us .info-sidebar .content ul li > *:last-child,
.new-post-main .info-sidebar .content ul li > *:last-child {
  color: #0071c7;
}

.header {
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: #181818;
  color: white;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.header .brand {
  font-size: large;
}

.hide {
  transform: translateY(-100%);
  transition: all 0.3s 0.3s ease-in-out;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.nav .right {
  display: flex;
  align-items: center;
}

.nav .nav-bar {
  color: #a5a5a5;
  display: flex;
  align-items: center;
}

.nav .nav-bar .toggler {
  display: none;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
}

.nav .nav-bar .nav-items {
  display: flex;
  align-items: center;
}

.nav .nav-bar .nav-items .nav-item {
  padding: 10px 15px;
  cursor: pointer;
}

.nav .nav-bar .nav-items .nav-item:hover {
  color: white;
  font-weight: 700;
  transition: all 0 0.2s ease-in;
}

.nav .nav-bar .nav-items .active {
  color: white;
  font-weight: 700;
}

.nav .drop {
  background-color: #181818;
}

.nav .drop .drop-toggler {
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #181818;
  box-shadow: 0 0 2px 0px #181818;
}

.nav .drop .drop-toggler i {
  margin-right: 0.2rem;
}

.nav .drop .drop-menu {
  background-color: #242424;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  opacity: 0;
  right: -12.5rem;
  transition: all 0.1s 0.2s ease-in-out;
}

.nav .drop .drop-menu .drop-item {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
}

.nav .drop .drop-menu .drop-item:hover {
  background-color: #5f5f5f;
  transition: all 0 0.2s ease-in;
}

.nav .drop .drop-active {
  opacity: 1;
  transform: translateX(-15rem);
  transition: transform 0s 0.4s ease-in-out;
  transition: opacity 0.3s 0.2s ease-in-out;
}

footer {
  background-color: #181818;
  padding: 2rem;
  width: 100%;
  margin-top: 2rem;
}

footer .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container .nav-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

footer .container .nav-items .nav-item {
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

footer .container .nav-items .nav-item:hover {
  font-weight: 700;
  transition: all 0 0.2s ease-in;
}

footer .container .copyright-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.72);
}

.page-heading {
  width: 100%;
  background-color: #242424;
  color: white;
  padding: 7rem 2rem 4rem 2rem;
}

.main {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
}

.main .posts {
  flex: 0.75;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main .sidebar {
  padding: 0.5rem;
  flex: 0.25;
}

.main .sidebar .item {
  margin: 1rem 0;
  width: 100%;
}

.main .sidebar .tag-list {
  padding: 1rem;
}

.main .sidebar .tag-list .heading {
  margin: 1rem 0;
  display: flex;
}

.main .sidebar .tag-list .heading .fa {
  margin-right: 1rem;
}

.main .sidebar .recent .heading {
  margin: 0.5rem 0;
}

.main .sidebar .recent .content ul li {
  padding: 0.5rem 0;
}

.main .sidebar .recent .content ul li span {
  font-size: 0.7rem;
  opacity: 0.8;
}

.main .sidebar .recent .content ul li h5 {
  font-size: 1rem;
  font-weight: 400;
  word-break: break-all;
}

.main .sidebar .recent .content ul li h5:hover {
  color: #dc812c;
}

.search {
  display: flex;
  background-color: lightgray;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: stretch;
  border-radius: 5px;
}

.search input {
  outline: none;
  border: none;
  color: #181818;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem;
  flex-basis: 1;
  width: 100%;
  margin-right: 1rem;
}

.search .fa {
  cursor: pointer;
  color: #242424;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  outline: none;
}

.search .fa:hover {
  opacity: 1;
}

.post {
  border-radius: 5px;
  margin: 0.5rem;
  flex: 1 1 28%;
  min-width: 250px;
  max-width: 500px;
  overflow: hidden;
  max-height: 250px;
  background-color: white;
  box-shadow: 0 0 3px 2px #bdbdbd;
}

.post .thumb {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.post .thumb img {
  width: 100%;
}

.post .content {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.post .content .cat {
  justify-self: start;
  padding: 0.2rem 0.5rem;
  background-color: #1c4d82;
  color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px #7b7b7b;
  margin: 0.5rem;
}

.post .content .title {
  font-size: large;
  font-weight: 400;
  padding: 0.5rem 0;
  word-break: break-all;
  flex: 0.3;
}

.post .content .info {
  padding: 0.3rem 0;
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  opacity: 0.8;
  align-items: center;
  flex: 0.1;
}

.post .content .info > *:not(:last-child) {
  margin-right: 1rem;
}

.post .content .info > *:hover {
  opacity: 1;
  text-decoration: underline;
}

.post .content .body {
  margin: 0.5rem 0;
  flex: 0.5;
}

.tags {
  flex: 0.1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags > *:not(:last-child) {
  margin-right: 0.2rem;
}

.tags .tag {
  color: white;
  background-color: #dc812c;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem 0.2rem;
}

.tags .fa {
  color: #dc812c;
  margin-right: 0.5rem;
}

.dashboard {
  margin-top: 5rem;
  padding: 0 2rem;
  min-height: 60%;
}

.dashboard h1 {
  margin: 1rem;
}

.dashboard table {
  margin-top: 1rem;
  width: 100%;
  font-weight: 500;
}

.dashboard table tr:first-child {
  font-weight: 700;
}

.dashboard table tr:first-child td {
  border-bottom: 2px solid black;
}

.dashboard table tr td {
  padding: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 5px;
}

.btn:hover,
.btn:active {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.btn-success {
  background-color: #1ea229;
  color: white;
}

.btn-danger {
  background-color: #eb2610;
  color: white;
}

@media (min-width: 720px) and (max-width: 850px) {
  .info-sidebar .content ul li {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
  }

  .info-sidebar .content ul li > *:first-child {
    margin-right: 1rem;
  }

  .info-sidebar .content ul li > *:last-child {
    color: #0071c7;
  }
}

@media (max-width: 720px) {
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
  }

  .nav .right {
    flex-direction: row-reverse;
  }

  .nav .nav-bar {
    color: #a5a5a5;
    display: flex;
    align-items: center;
  }

  .nav .nav-bar .toggler {
    display: block;
  }

  .nav .nav-bar .nav-items {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    right: -10rem;
    top: 100%;
    transition: all 0.3s 0.2s ease-in-out;
  }

  .nav .nav-bar .nav-items .nav-item {
    width: 100%;
    padding: 10px 25px;
    cursor: pointer;
  }

  .nav .nav-bar .nav-items .nav-item:hover {
    color: white;
    font-weight: 700;
    transition: all 0 0.2s ease-in;
    background-color: #7b7b7b;
  }

  .nav .nav-bar .nav-items .active {
    color: white;
    font-weight: 700;
  }

  .nav .nav-bar .menu-active {
    opacity: 1;
    transform: translateX(-10rem);
    transition: transform 0s 0.4s ease-in-out;
    transition: opacity 0.3s 0.2s ease-in-out;
  }

  .drop .drop-menu {
    right: -10rem !important;
    background-color: #a5a5a5;
  }

  .drop .drop-menu .drop-item {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
  }

  .drop .drop-menu .drop-item:hover {
    transition: all 0 0.2s ease-in;
  }

  .main {
    flex-direction: column-reverse;
  }

  .sidebar .recent {
    display: none;
  }

  .contact-us {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-us .contact-section {
    flex: 1;
    width: 100%;
  }

  .contact-us .contact-section .head {
    margin: 1rem 0;
  }

  .contact-us .contact-section .content form .row {
    flex-direction: column;
    width: 100%;
  }

  .contact-us .contact-section .content form .row > *:first-child {
    margin-right: 0;
  }
}

